@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes tilt {
    0%, 100% {
        transform: rotate(12deg)
    }
    50% {
        transform: rotate(-12deg)
    }
}
.tilt{
    animation: tilt 0.4s  ease-in-out infinite;
}

@keyframes tilto {
    0%, 100% {
        transform: rotate(9deg)
    }
    50% {
        transform: rotate(-9deg)
    }
}
.tilto{
    animation: tilt 0.4s  ease-in-out infinite;
}